.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-2xl)
    var(--spacing-lg);
  max-height: calc(100vh - var(--navbar-height));
}
